.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.delete{
  width: 1.4rem;
  height: 1.4rem;
}

center{
  display: inline-block;
}
input{
  outline:none;
  text-align: center;
  padding: 10px 0;
  border-radius: 40px;
}

.container{
  margin-top: 20%;
  background: #ecf0f3;
  /* border: 2px solid red; */
  width: calc(100% - 40px);
  padding: 20px;
  border-radius: 40px;
  background: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1,
              -13px -13px 20px #ffffff;
}

/* Play page */
.choice-container{
  border: 2px solid #61dafb;
}
.success, .failure{
  padding: 1rem;
  border-radius: 40px;
  font-size: 1rem;
  width: 70%;
  word-wrap: break-word;
}
.success {
  background: #1cf284;
  box-shadow: inset 8px 8px 8px #15b362, 
            inset -8px -8px 8px #23ffa6;
}


.failure {
  background: #e62828;
  box-shadow:  inset 8px 8px 8px #aa1e1e, 
             inset -8px -8px 8px #ff3232;
}
.options{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.option{
  display: flex;
  /* border: 1px solid red; */
  width: 80%;
  padding: 1.5rem;
  justify-content: space-around;
  align-items: center;
  word-wrap: normal;
}

/* Correct part  */
input[type=text], .playOption{
  border: none;
  outline:none;
  background: none;
  text-align: center;
  padding: 10px 0;
  border-radius: 40px;
  box-shadow: inset 8px 8px 8px #cbced1,
              inset -8px -8px 8px #ffffff;
}
input[type=radio]{
  width: 1rem;
  height: 1rem;
}

.inputQuestion{
  word-wrap: break-word;
  font-size: 1.5rem;
  width: 100%;
  margin-bottom: 30px;
}
.inputOption, .playOption{
  word-wrap: break-word;
  font-size: 1rem;
  width: 70%;
  /* margin-bottom: 15px; */
}
.playOption{
  padding: 1rem;
}
.buttonSet{
  display: flex;
  justify-content: space-around;
}
.functionalBtn{
  /* background:url("Logo.png"); */
  outline: none;
  width:4rem;
  height: 4rem;
  border-radius: 50%;
  margin:0 auto;
  box-shadow: 
  /* logo shadow */
  0px 0px 2px #5f5f5f,
  /* offset */
  0px 0px 0px 5px #ecf0f3,
  /*bottom right */
  8px 8px 15px #a7aaaf,
  /* top left */
  -8px -8px 15px #ffffff
  ;
}

.functionalBtn:hover{
  background: #fff;
}

.questionBox{
  min-width: 20rem;
  max-width: 60%;
}

#question{
  word-wrap: break-word;
}
/* Questions asked */
.head-up{
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 4rem;
  height: 1.5rem;
  font-size: 0.8rem;
  font-weight: 400;
  border-radius: 1.4rem;
  box-shadow: 8px 8px 12px #cbced1,
              -8px -8px 12px #ffffff;
}
#counter{
  width: 2rem;
  padding: 0.1rem 0;

}
#max-ques{
  width: 2rem;
  padding: 0.1rem 0;
  background: #61dafb;
}
